@media only screen and (max-width: 768px) {
	ul {
		text-align: left;
	}
	/* Header block */
	.inner {
		min-width: 50%;
		text-align: center;
	}
	.header {
		float: none;
		display: inline-block;
	}
	.header-logo {
		max-width: 100%;
		max-height: 100%;
	}
	.header-info {
		margin-top: 15px;
		display: block;
		float: none;
		clear: both;
		text-align: center;
	}
	.banner {
		display: none;
	}

	/* Content block */
	.article_index {
		text-align: center;
	}

	.content1, .content {
		float: none;
	}

	.article_index .img1{
		float: none;
	}

	.article_index .title_1 {
		text-align: left;
	}

	.article_index .title_1 img {
		margin-left: 10px;
	}

	.article_index .box .box1 {
		margin-bottom: 10px;
	}

	.aside {
		float: none;
	}

	.footer {
		background: url(../Images/footer_bg.jpg) repeat left top;
		text-align: center;
		width: 100%;
	}

	.menu_footer_1, .menu_footer_2, .menu_footer_3 {
		float: none;
		display: inline-block;
		margin-bottom: 10px;
		margin-left: 0px;
	}

	.menu_footer_2 {
		padding: 0px;
	}

	.menu_footer_2 ul {
		width: auto;
		padding: 10px 20px;
	}

	.menu_footer_2 ul li, .menu_footer_3 ul li {
		text-align: left;
	}

	.display {
		display: block;
		margin: inherit;
	}

	dl.index dt {
		margin-left: 10px;
	}

	.content1_p {
		margin: 5px;
	}

	.subNav a{
		background:none !important;
	}

}