@charset "utf-8";
* {
	margin: auto;
	padding: auto;
}

body {
    color: #73523f;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 13px;
	background:#fff;
}

h1 {
	float: left;
	font-size: 12px; 
	font-weight: normal;
	width: 100%;
	color: #66402b;
	margin-top: 10px; 
}

ul {
	padding-left: 0px;
	list-style: none;
}

dl, dt {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}

/* Class */
.wrapper {
	margin: 0px auto;
}
/* Header block */
.header {
	width: auto;
	height: 155px;
	border-top: 5px solid #f0831e;
}

.inner {
	min-width: 960px;
	max-width: 960px;
	width: 100%;
	height: auto;
	position: relative;
	clear: both;
}

.header-info {
	float: right;
	text-align: right;
}

.header-logo {
	margin-top: 20px;
}

.header-info p {
	color: #73523f;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 13px;
}

.header-info span {
	color: #f0831e;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 13px;
}
/*End Header block */

/* Nav block*/
.nav {
	width: 100%;
	height: 55px;
	margin-top: 20px;
	display: inline-block;
	background: url("../Images/bg_menu.jpg") repeat-x;
}

.menu {
	position: relative;
	height: 55px;
	display: block;
	max-width: 973px;
	min-width: 973px;
	width: 100%;
}

.menu ul {
	width: 100%;
	height: 50px;
	display: inline-block;
	background: url("../Images/line_menu.jpg") no-repeat right center;
}

.menu ul li {
	width: 133px;
	float: left;
	height: 52px;
	padding: 1px 3px;
	background: url("../Images/line_menu.jpg") no-repeat left center;
}

.menu ul li a {
	width: 130px;
	display: block;
	padding-left: 2px;
	height: 53px;
	text-decoration: none;
}

.menu ul li.menu_3 ul.subNav, 
.menu ul li.menu_4 ul.subNav
{
	display: none;
}

.menu ul li.menu_3:hover ul.subNav, 
.menu ul li.menu_4:hover ul.subNav
{
	display: block;
	position: absolute;
	z-index: 99999;
	background: none repeat scroll 0 0 #ffc472;
	width: 140px;
	height: auto;
	margin-left: -3px;
}

.menu ul li ul.subNav li.subNav {
	background: none;
	height: 40px;
	border-bottom: 1px solid #d19c5d;
	text-align: center;
}

.menu ul li ul.subNav li.subNav a { 
	text-decoration: none;
	height: auto;
	padding: 10px 0px;
	font-size: 14px;
	color: #66402b;
}

.menu ul li ul.subNav li.subNav a:hover { 
	color: #ffffff;
}

.menu ul li ul.subNav li.subNav:hover { 
	background: url("../Images/bg_menu_sub.jpg") no-repeat center center;
}

.menu ul li a.menu_1:hover img, 
.menu ul li a.menu_2:hover img, 
.menu ul li a.menu_3:hover img, 
.menu ul li a.menu_4:hover img, 
.menu ul li a.menu_5:hover img, 
.menu ul li a.menu_6:hover img, 
.menu ul li a.menu_7:hover img
{
	display: none;
}

.menu ul li a.menu_1:hover, .menu ul li.menu_1 a.active  {
	background: url("../Images/menu_1_hover.jpg") no-repeat center center;
}
.menu ul li.menu_1 a.active img {
	display: none;
}
.menu ul li a.menu_2:hover {
	background: url("../Images/menu_2_hover.jpg") no-repeat center center;
}
.menu ul li a.menu_3:hover {
	background: url("../Images/menu_3_hover.jpg") no-repeat center center;
}
.menu ul li a.menu_4:hover {
	background: url("../Images/menu_4_hover.jpg") no-repeat center center;
}
.menu ul li a.menu_5:hover {
	background: url("../Images/menu_5_hover.jpg") no-repeat center center;
}
.menu ul li a.menu_6:hover {
	background: url("../Images/menu_6_hover.jpg") no-repeat center center;
}
.menu ul li a.menu_7:hover {
	background: url("../Images/menu_7_hover.jpg") no-repeat center center;
}
/* End Nav block */
 
/* Banner block */
.banner {
	height: 394px;
	width: 100%;
	float: left;
	position: relative;
	display: inline-block;
	background: url("../Images/bg_banner.jpg") repeat-x center top;
	z-index: 200;
	margin-top:-2px;
}
.slide {
	height: 394px;
	width: 960px;
	text-align: center;
	display: block;
	margin: 0px auto;
}

/* End Banner Block */

/* Content block */
.content {
	width: 100%;
	max-width: 700px;
	margin-top: 20px;
	float: left;
}
.title_1 {
	height: 10px;
	width: 100%;
	clear: both;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: url("../Images/line_title.jpg") no-repeat left bottom;
}
.img1 {
	float: left;
}
.img_button_1 {
	margin-bottom: 5px;
}
.content1 {
	float: right;
	text-align: left;
	max-width: 420px;
	width: 100%;
} 

.content1_p {
	margin-bottom: 20px; 
}
.box {
	width: 100%;
	position: relative;
}
.box1 {
	width: 218px;
	height: auto;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	border: 1px solid #d9d9d9 ;
}
.box1 p {
	margin: 5px 10px;
	min-height: 124px;
	max-height: 260px;
}

.box1 a {
	margin: 5px 10px;
}
.index {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: left;
}
.bold {
	font-weight: bold;
	padding-left: 5px;
}
dl.index dt {
	background: url("../Images/bullet_1.jpg") no-repeat left center;
	padding-left: 15px;
	padding-top: 2px;
	margin-right: 10px;
	float: left;
}
dl.index dd {
	background: url("../Images/bg_index_dl.jpg") repeat-x left bottom;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
/* End Content block */

/* Aside Block */
.aside {
	float: right;
	padding-top: 30px;
	max-width: 230px;
}
.bg_border_r_1 {
	margin-top: 30px;
	padding: 5px;
	border: 1px solid #e9dfd9;
	border-radius: 2px;
	background: #fffcf8;
}

.bg_border_r_2 {
	padding: 10px;
	border: 1px solid #e9dfd9;
	border-radius: 2px;
	background: white;
}

.bg_border_r_3 {
	text-align: center;
	padding: 10px 12px;
	border: 4px solid #e9dfd9;
	border-radius: 2px;
	background: white;
	margin-bottom: 50px;
}

.bg_border_r_2 .li_1 {
	border-bottom: 1px solid #e9dfd9;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bg_border_r_2 .li_2 {
	margin: 5px;
}

.bg_border_r_2 .li_2 a {
	background: url("../Images/aside_bullet_2.jpg") no-repeat left center;
	padding-left: 15px;
	margin-left: 10px;
}

.bg_border_r_2 .li_1 a {
	background: url("../Images/aside_bullet_1.jpg") no-repeat left center;
	padding-left: 15px;
}

.li_1 a:hover, .li_2 a:hover {
	text-decoration: underline;
}

.aside_p_1 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.aside_map {
	width: 100%;
	margin-bottom: 10px;
	border: 0px;
}
/* End Aside Block */
/* Footer Block */
.footer {
	background: url(../Images/footer_bg.jpg) repeat-x left top;
	width: 100%;
	height: auto;
	padding-top: 26px;
	padding-bottom: 26px;
	position: relative;
	display: block;
	float: left;
}
.menu_footer_1 {
	float: left;
	max-width: 350px;
	max-height: 
}
.menu_footer_2 {
	float: left;
	margin-left: 40px;
	height: auto;
	max-width: 300px;
	width: 100%;
	padding: 20px;
	border: 1px solid #e7d3c1;
}
.menu_footer_3 {
	background: url("../Images/footer_bg_r.png") repeat left center;
	float: left;
	height: auto;
	max-width: 178px;
	margin-left: 30px;
}
.menu_footer_2 ul {
	float: left;
	font-size: 14px;
	max-width: 150px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.menu_footer_1 p {
	line-height: 1.6;
	font-size: 12px;
}
div.menu_footer_2 ul li{
	margin: 5px 0;
}
div.menu_footer_2 ul li a {
	background: url("../Images/footer_bullet.png") no-repeat left center;
	padding-left: 15px;
}
.menu_footer_3 ul {
	padding: 15px;
	font-size: 13px;
}
.menu_footer_3 .li_1 a {
	background: url("../Images/footer_bullet_2.png") no-repeat left center;
	padding-left: 20px;
}
.menu_footer_3 .li_2 {
	margin: 1.5px 0 1.5px 8px;
}
.menu_footer_3 .li_1 {
	margin-bottom: 7px;
}
.menu_footer_3 .li_2 a {
	background: url("../Images/footer_bullet.png") no-repeat left center;
	padding-left: 15px;
}
/* End Footer Block */
/* Copyright Block */
.copyright {
	width: 100%;
	height: auto;
	display: block;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #f88e01;
	color: #ffffff;
	font-size: 11;
}
/* End Copyright Block */

/* Page Top */		
#page-top {
    bottom: 20px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    z-index: 500;
}

#page-top a {
    background: #f0831e;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
#page-top a:hover {
	background: #ffb452;
	text-decoration: none;
}	