#calendar-panel #calendar td, tr{
    border-collapse: collapse;
	border: 1px solid black;
}
/* ID */
#txt-calendar {
	height: 25px;
	width: 350px;
	margin-left: 5px;
	background: white url(Images/calendar_icon.png) no-repeat right top ;
	background-size: 25px 25px;
}

#calendar-panel {
	width: 350px;
	margin-left: 5px;
}

#month {
	width: 100px;
}

#year {
	width: 55px;
}

#day-lable {
	background: grey;
	color: red;
	border: 1px solid black;
	font-size: large;
	font-weight: bold;
}

/* Class */
.btn {
	background: #A9CCE3;
	cursor: pointer;
}
.day {
	background: #FBFCFC;
}