* {
	margin: auto;
	padding: 0;
	font-family: Verdana, sans-serif;
}

header {
	height: 116px;
	background-color: #2D2F35;
	border-bottom: 2px solid #3E4148;
}

body {
	background-color: black;
}

footer {
	height: 116px;
	padding-top: 3px;
	background: #24262A url(Images/bg_footer.gif) no-repeat center;
}

p {
	color: white;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	line-height: 13px;
}

h2 {
	font-size: 20px;
	color: yellow;
	font-family: "Courier", Helvetica, serif;
}


/* ID */

#header_Logo {
	width: 251px;
	height: 106px;
	float: left;
	background-image: url(Images/logo1.gif);
}

#our_Product_Block {
	height: 300px;
	position: relative;
	background: url(Images/bg_home_intro.gif) repeat-x;
}

#image_Block {
	height: 140px;
	position: relative;
	text-align: center;
	background-color: #2D2F35;
	border-bottom: 2px solid #3E4148;
	border-top: 2px solid #3E4148;
}

#final_Block {
	height: 370px;
	background-color: #2D2F35;
	position: relative;
	border-bottom: 2px solid #3E4148;
}

#info_Body2 {
	width: 400px;
	height: 50px;
	position: absolute;
}

#bg_Home_Intro {
	height: 50px;
	width: 100%;
	position: absolute;
	margin-top: 250px;
}

#home_Intro_Image {
	float: right;
	margin-right: 100px;
	position: relative;
}

#image1 {
	background: url(Images/port_thumb_point_progress.jpg) no-repeat;
}

#image2 {
	background: url(Images/port_thumb_giant_impact.gif) no-repeat;
}

#image3 {
	background: url(Images/port_thumb_marsh_johnson.jpg) no-repeat;
}

#image4 {
	background: url(Images/port_thumb_vivio.jpg) no-repeat;
}



/* Class */
.content {
	width: 1300px;
}
.port_thumb_block {
	width: 220px;
	height: 102px;
	margin: 10px 10px;
	position: relative;
	display: inline-block;
}

.number {
	position: relative;
	float: right;
}

.info1 {
	margin-left: 100px;
	position: absolute;
}

.info2 {
	margin-left: 100px;
	height: 340px;
	width: 400px;
	position: relative;
	display: inline-block;
	background: url(Images/home_services_bg_design.gif) no-repeat right bottom;
}

.info3 {
	margin-right: 100px;
	height: 370px;
	width: 400px;
	position: relative;
	float: right;
	display: inline-block;
	background: url(Images/home_services_bg_marketing.gif) no-repeat left top;
}

.info_Body {
	width: 410px;
	height: 100px;
	margin-top: 30px;
	position: relative;
}

#final_Block .info_Body {
	margin-top: 40px;
	height: auto;
	margin-bottom: 40px;
}

